body {
  font-family: 'Poppins', sans-serif;
}

.sub-section-alt {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding:80px;
}

.hero {
  background: linear-gradient(90deg, rgba(3,2,25,1) 0%, rgba(81,143,76,1) 100%, rgba(0,212,255,1) 100%); /*https://cssgradient.io/*/
  height: 100vh;
  font-size: 45px;;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

@media only screen and (max-width: 1000px) {
  .res-ul {
      display: flex;
      flex-wrap: wrap;
  }
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 60px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.hero-main {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-button {
  width: 200px;
  height: 60px;
  background-color: orangered ;
  border-radius: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
} 

.hero-button:hover {
  background-color: orange;
}

.hero-button:active {
  background-color: #4F7942;
}

.icons {
  padding-bottom: 200px;
}

#logo {
  margin: 30px;  
}

.ind-icon {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 30px;
  margin: 10px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: white;
}


@media only screen and (max-width: 1000px) {
  .project-container {
      display: flex;
      flex-wrap: wrap;
  }
}

/* CONTACT FORM */

.last-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  height: 100vh;
}


.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: #fff;
  box-shadow: 5px 5px 30px;
}

form {
  margin: 35px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px ;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

input[type="text"]
{
    font-size:24px;
    font-family: 'Poppins';
}

input[type="email"]
{
    font-size:24px;
    font-family: 'Poppins';
}
textarea[type="text"]
{
    font-size:24px;
    font-family: 'Poppins';
}

.textarea-field {
  height: 150px;
  padding-top: 10px; 
}

.btn {
  border-radius: 20px ;
  color: white;
  margin-top: 18px;
  padding: 10px;
  background-color: coral;
  font-size: 14px;
  border: none;
  cursor: pointer;
  font-size:24px;
  font-family: 'Poppins';
}

.btn:hover {
  color: darkblue;

}

.btn:active {
  color:yellow ;
} 

footer {
  height: 200px;
  background-color: #05081c;
  color: white;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

#footer {
  display: inline-flex;
}


